


# PlanAhead Generated physical constraints 

NET "mat2ngcedif_net_1" LOC = E12;
NET "mat2ngcedif_net_1011" LOC = U8;
NET "mat2ngcedif_net_1010" LOC = T9;
NET "mat2ngcedif_net_1014" LOC = U10;
NET "mat2ngcedif_net_1098" LOC = C7;
NET "mat2ngcedif_net_1100" LOC = D7;
NET "mat2ngcedif_net_1102" LOC = B9;
NET "mat2ngcedif_net_1104" LOC = C9;
NET "mat2ngcedif_net_1106" LOC = C5;
NET "mat2ngcedif_net_1108" LOC = D5;
NET "mat2ngcedif_net_1110" LOC = C6;
NET "mat2ngcedif_net_1112" LOC = D6;
NET "mat2ngcedif_net_1114" LOC = C11;
NET "mat2ngcedif_net_1116" LOC = A3;
NET "mat2ngcedif_net_1118" LOC = B3;
NET "mat2ngcedif_net_1120" LOC = B8;
NET "mat2ngcedif_net_1122" LOC = C8;
NET "mat2ngcedif_net_1124" LOC = B11;
